[package]
name = "pharmsol"
version = "0.19.0"
edition = "2021"
authors = ["Julián D. Otálvaro <juliandavid347@gmail.com>", "Markus Hovd"]
description = "Rust library for solving analytic and ode-defined pharmacometric models."
license = "GPL-3.0"
documentation = "https://lapkb.github.io/pharmsol/"

[features]
default = []
exa = ["libloading"]

[dependencies]
cached = { version = "0.56.0" }
csv = "1.3.0"
diffsol = "=0.7.0"
libloading = { version = "0.8.6", optional = true, features = [] }
nalgebra = "0.34.1"
ndarray = { version = "0.16.1", features = ["rayon"] }
rand = "0.9.0"
rand_distr = "0.5.0"
rayon = "1.10.0"
serde = { version = "1.0.201", features = ["derive"] }
serde_json = "1.0.117"
statrs = "0.18.0"
thiserror = "2.0.11"
argmin = "0.11.0"
argmin-math = "0.5.1"
tracing = "0.1.41"

[dev-dependencies]
criterion = { version = "0.7.0", features = ["html_reports"] }
approx = "0.5.1"

[lib]
bench = false

[[bench]]
name = "performance"
harness = false

[[bench]]
name = "data"
harness = false

[[bench]]
name = "ode"
harness = false
