[package]
name = "pharmsol"
version = "0.5.1"
edition = "2021"
authors = [
    "Julián D. Otálvaro <juliandavid347@gmail.com>",
    "Markus Hovd",
]
description = "Rust library for solving analytic and ode-defined pharmacometric models."
license = "GPL-3.0"
documentation = "https://lapkb.github.io/pharmsol/"

[dependencies]
anyhow = "1.0.86"
argmin = "0.10.0"
argmin-math = { version = "0.4.0", features = ["ndarray_v0_15-nolinalg"] }
cached = { version = "0.53.1" }
csv = "1.3.0"
dashmap = "6.0.1"
diffsol = "=0.2.1"
indicatif = "0.17.8"
# diffsol = {git = "https://github.com/martinjrobins/diffsol"}
lazy_static = "1.4.0"
nalgebra = "0.33.0"
ndarray = { version = "0.15.6", features = ["rayon"] }
rand = "0.8.5"
rand_distr = "0.4.3"
rayon = "1.10.0"
serde = { version= "1.0.201", features = ["derive"] }
serde_json = "1.0.117"
thiserror = "1.0.61"
